
.container{
    background: #255625;
}
h2{
}
.table{
    width: 450px;
    border: 2px solid;
    background: #d5d5d5;
}
td{
    background: #255625;
}

button{
    background: #e3e3e3;
    height: 60px;
    width: 60px;
    font-size: 16px;
    color: #761c19;
}
.btn-block{
    text-align: center;
}

