
.container{
    background: #bce8f1;
}

.table{
    width: 450px;
    border: 2px solid;
    background: #d5d5d5;
}

.num{
    text-align: center;
}

.input-sm{
    width: 200px;
    font-size: 16px;
}

button{
    background: #e3e3e3;
    height: 60px;
    width: 60px;
    font-size: 16px;
    color: #761c19;
}
.btn-block{
    text-align: center;
}

.output{
    background: #737373;
    height: 80px;
    color: #5cb85c;
    text-align: center;
    font-size: 18px;
}